<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phonos</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Phonos</h1>
    <div id="photo-container">
        <% files.forEach(file => { %>
            <img src="/images/<%= file %>" alt="<%= file %>">
        <% }) %>    
    </div>
    <script src="/script.js"></script>
</body>
</html>